@media (max-width: 980px) {
  /* BANNER */

.sidepanel {     
    background: purple;
	  height: 300px;  
}
  
/*.spatial, .accueil {
    display: none;
}*/
  
.navPanelToggle {
    display: block;
}
  
#navPanel.visible {
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgb(0 0 0 / 20%);
    visibility: visible;
}

}
