@import "./css/1-global.css";
@import "./css/2-banner.css";
@import "./css/3-container.css";
@import "./css/4-aside.css";
@import "./css/5-carousel.css";
@import "/FRONT/css/6-footer.css";

/* #banner{display:none;} */
/* .container{display:none;} */
/* aside{display:none;} */
/* .carousel{display:none;} */
/* footer{display:none;} */

.fa-bars {
  visibility: hidden;
}

.fireball {
  visibility: hidden;
}

/* media queries 980px */

@media (max-width: 980px) {
  #banner {
    visibility: hidden;
  }

  .logo > img {
    visibility: visible;
    position: absolute;
    left: 45%;
    transform: translateX(-30%);
  }

  .fireball {
    position: absolute;
    right: 0;
    visibility: visible;
  }

  .openbtn,
  .fa-bars {
    visibility: visible;
  }

  .openbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    width: 58px;
    height: 40px;
    position: absolute;
    top: 50px;
    margin-left: 20px;
  }

  .fa-bars {      
    color: purple;
    font-size: 22px;
  }

  .fa-shop {
    margin-top: 30px;
    margin-right: 45%;
  }
}

@media (max-width: 480px) {
  .banner a {
    font-size: 20px;
  }
  .navbar .navbar-brand {
    font-size: 20px;
    margin-left: 20px;
  }

  .logo > img {
    transform: translateX(-50%);
  }

  .fireball {
    visibility: hidden;
  }

  .container .rect {
    width: 100%;
    margin: 20px 0;
  }

  .slider {
    height: 300px;
  }

  .slider .carousel-indicators {
    bottom: 5px;
  }

  .slider .carousel-inner .carousel-item {
    height: 300px;
  }
}
